[2016-08-30 15:25] CodyReichert opened #2 "Update README with new instructions"
#1 implemented a bunch of great stuff and now the README needs to be updated with the newest usage instructions. See [original PR for more info](https://github.com/assertible/lambda-cloudwatch-slack/pull/1).

[2016-08-30 16:58] kqdtran opened #3 "make deploy works but the lambda function doesn't"
Hey @CodyReichert and the Assertible team, thanks again for this very useful module. I'm having some problem getting it to work. I've changed the settings in the Makefile:
[code]
and also in the `config.js`:
[code]
(the rest of the settings in `config.js` are left unchanged.)
I then run `npm install` and `make test`, and it works perfectly. The four sample notifications were posted to our slack ch

[2016-08-30 17:13] knowroozi commented on #3
@kqdtran i think only cloudwatch alarm notifications are supported, not events from logs

[2016-08-30 17:36] creichert commented on #3
@kqdtran Are you saying there was a failed Cloudwatch event and you saw that error in the logs? Where was the event from?

Sorry on the README, I'll get that updated today

[2016-08-30 18:14] kqdtran commented on #3
No prob on the README, thanks for working on it!

Yes, there are lots of Cloudwatch events and we are currently not receiving any notification on Slack (we are via email, however.) What's the best course of action to test that things work after running `make deploy`?

[2016-08-30 18:20] creichert commented on #3
It's likely failing on a call like this:

[code]

It would help to get the event json (or the shape) if at all possible. I'll run through some tests on this in our infra and see if I can come up with anything.

[2016-08-30 19:07] kqdtran commented on #3
I'm not sure if this is what you're looking for, but here's the json of an event we recently got an email for.
[code]
Thanks again for looking into it! Let me know if/how I can be more helpful.

[2016-08-31 14:49] #2 closed

[2016-09-01 14:17] kqdtran commented on #3
I'm still having trouble getting this to work. If it makes any difference, our instances and RDS db live inside a VPC. Do we need to specify the VPC configurations for the lambda function to make this work?

[2016-09-01 15:52] creichert commented on #3
The problem I see so far is that the event you posted doesn't appear to be the full event (it doesn't even mention the metric):

Here's what a CloudWatch notification looks like in our test data:

[code]

When I check out our teams Lambda logs in cloudwatch, I see events like this:

![elasticache1](https://cloud.githubusercontent.com/assets/526560/18174144/1add52ee-7032-11e6-8ed9-0f774e319b7d.png)

[2016-09-01 15:56] creichert commented on #3
To my knowledge, you don't need any special VPC settings. You might double check your IAM lambda_exec_role to ensure it can execute the function and has no other problems.

[2017-01-04 19:47] smith-quinn opened #7 "When Triggering AWS CloudWatch Alarm: errorMessage "no matching processor for event""
-I followed the README.txt. The "make deploy" was successful.
-I created the SNS topic.
-I created the SNS subscription.
-I ran a test trigger using the github test CloudWatch notification template. That was successful.
-I added my lambda function to the CloudWatch Alarm.

Now when I force an alarm to fire off, I see that the SNS was received. The correct template is chosen, but i get the followin

[2017-01-04 20:03] CodyReichert commented on #7
For what it's worth, the error is coming from here: https://github.com/assertible/lambda-cloudwatch-slack/blob/master/index.js#L270-L292

It gets to that point when the event ARN does not match one of those cases (beanstalk, cloudwatch, codedeploy, elasticache, and autoscaling).

Do you know if your event should be matching up with one of those? If possible, see if you can paste the JSON event, or

[2017-01-04 20:07] creichert commented on #7
@CodyReichert we should add debug there so we can get a relevant portion of the message

@smith-quinn is it possible for you to post the event and gives a short description of where it's coming from? Then, we can implement support for that CloudWatch event type

[2017-01-04 20:08] smith-quinn commented on #7
I'm using CloudWatch alarm's fire off the lambda function in the case of an alarm.

  else if(eventSubscriptionArn.indexOf(config.services.cloudwatch.match_text) > -1 || eventSnsSubject.indexOf(config.services.cloudwatch.match_text) > -1 || eventSnsMessage.indexOf(config.services.cloudwatch.match_text) > -1){
    console.log("processing cloudwatch notification");
    slackMessage = handleCloudWatc

[2017-01-04 20:29] creichert opened #10 "Improve notification title"
It would be nice if the title of the slack message were a little more descriptive.

For example,

![elasticache1](https://cloud.githubusercontent.com/assets/526560/21657901/fc3f6bbe-d289-11e6-8b9d-1f6ac56dd154.png)

The message title is:

but could be improved to be:

or something similar

[2017-01-04 20:31] CodyReichert commented on #7
@smith-quinn On the `master` branch there are some improvements to the "no matching processor for event message". It will tell us the event subscription ARN so we can get some more info on the service.

If you can, deploy the latest version and run the same event -- update us here with the new error.

[2017-01-04 20:53] smith-quinn commented on #7
I deployed the latest version and ran the same event. Here is the output in my CloudWatch Logs:

2017-01-04T20:51:19.653Z	8b1674b5-d2bf-11e6-8061-cbd9575bebda
{
    "errorMessage": "No matching processor for event. [EventSubscriptionArn: arn:aws:sns:us-east-1:525690699542:CloudWatch-to-Slack:ad2b90bd-2ebd-4629-8ab0-84c23099e6c7]"
}

Let me know what you think.

[2017-01-04 21:05] knowroozi commented on #7
I think the default for that case can be shortened to "CloudWatch" from "CloudWatchNotifications". I think when I added it, that was the actual name of my SNS topic.

[2017-01-04 21:07] smith-quinn commented on #7
@knowroozi  You are saying because my SNS Topic name is CloudWatch-to-Slack?

[2017-01-04 21:13] knowroozi commented on #7
@smith-quinn yeah the string in the config file is tested against the subject, topic and subscription name of the SNS .. if that string is in there, it will satisfy the condition for whichever service you are looking at.

The problem specifically i found with CloudWatch is that the SNS subject doesn't consistently have the AWS service name in it like ElastiCache or CodeDeploy

[2017-01-04 21:27] smith-quinn commented on #7
That worked!

Changed topic name to just CloudWatch, and i updated the value for services.cloudwatch.match_text to be CloudWatch.

Thank you @knowroozi

[2017-01-04 21:39] CodyReichert commented on #7
Oh awesome, glad you got it working -- thanks @knowroozi.

Is there anything here I can do to have this supported in the lib itself? Feel free to open a PR too!

[2017-01-04 23:44] smith-quinn commented on #10
Has this change already been implemented?

[2017-01-05 00:01] CodyReichert commented on #10
@smith-quinn not yet! Definitely something I'd like to see too, especially for getting Slack notifications on mobile devices.

If you (or anyone else) wants to take a stab at it, it's the `subject` variables (like [these](https://github.com/assertible/lambda-cloudwatch-slack/blob/master/index.js#L101)) that can be enhanced.

[2017-05-03 17:23] quinn-influx opened #12 "TypeError: context.succeed is not a function"
Hello All --

I was wondering if you could help me with the error I am running into. I've used lambda-cloudwatch-slack before on another AWS account. Now I need to install it again on my new AWS account. Do you know where I am going wrong?

processing cloudwatch notification
message posted successfully
/home/ec2-user/lambda-cloudwatch-slack/index.js:299
      context.succeed();
              ^

Ty

[2017-05-03 17:28] quinn-influx commented on #12
Sorry I should be more specific...

I ran `git clone https://github.com/assertible/lambda-cloudwatch-slack.git`
Edited the Makefile...
Setup the Slack Hook...
Edited the config.fs file..
Ran `npm install`
I get that error when I run "make test"

[2017-05-03 17:36] creichert commented on #12
At a glance, I'm not sure what the error is. Likely the `context` object is not correct due to another error.

You might try adding some debug around these statements to see if there is something obvious: https://github.com/assertible/lambda-cloudwatch-slack/search?utf8=%E2%9C%93&q=context.succeed&type=

Any PRs or updates would be appreciated if you find something.

I have been planning to give t

[2017-05-03 17:56] CodyReichert commented on #12
I think I was able to pin this one down - @quinn-influx

`context.succeed` and `context.done` are deprecated in the `4.3` and `6.10` runtimes. Thus, the `node-lambda` package stopped supporting them: https://github.com/motdotla/node-lambda/issues/223

Can you try this, from the package root:

[code]

You should see a deprecation warning in the output for `context.succeed`, but the tests should run

[2017-05-03 21:34] quinn-influx commented on #12
Awesome! That worked. Thank you so much for the reply!

I'll add that to my notes just in case xD

[2017-05-04 20:16] #12 closed

[2017-05-04 20:20] CodyReichert commented on #12
@quinn-influx - thanks for confirming that.

I just merged #13 to correctly pins that package's version, and released [`0.1.2` to npm.](https://www.npmjs.com/package/lambda-cloudwatch-slack).

[2017-05-22 18:10] pamelafox opened #15 "Setting up the CloudWatch -> SNS?"
Hello! I've deployed the bot, but I have not set up any flow for Alarms to go into SNS queues, so there is nothing for the bot to process. Is there any suggested documentation/blog post on how to do that?

[2017-05-22 18:27] creichert commented on #15
Which AWS service do you want to receive events from? e.g. Elasitc Beanstalk, EC2, RDS, etc.

The basic process is:
- Create an SNS subscription (`my-test-subscription`) and attach it to the Lambda Function
- Pick a service, e.g. RDS
- Create a CloudWatch alarm for that service
- Configure the CloudWatch alarm to send events to the SNS subscription

For example, the `assertible-rds-alarms` is a SN

[2017-05-22 20:27] pamelafox commented on #15
I am starting off with creating alerts for a different Lambda function. I have metrics that measure logs coming from that function, so I can set an alert based on the count of those logs, send those to an SNS, and see those piped through the Cloudwatch-Slack bot into our Slack channel.

Re the first step:
- when I create a subscription in SNS, what protocol would I specify?
- in what way should I

[2017-05-22 20:41] creichert commented on #15
I'm not sure exactly what you mean by protocol (I could be missing something). If I go to create an SNS topic, I see this:

- ![](https://cloud.githubusercontent.com/assets/526560/26327225/2701470a-3f04-11e7-80a9-015a8e3da85e.png)

That's a separate step from any Lambda-specific functionality. I imagine if you already have a CloudWatch alarm for a Lambda function, you can navigate to it and set th

[2017-05-22 21:20] pamelafox commented on #15
Great! Now I've got it all working. I was confused as your first comment said subscription, but I think actually meant "topic". (It appears that creating a  CloudWatch alarm automatically creates the subscription to that topic).

So, the steps were:
1) Create a topic in SNS. Call it CloudWatchNotifications OR change the name of what's in config.js.
2) Create a CloudWatch alarm, and set its notific

[2017-05-22 21:28] pamelafox commented on #15
I will confess I have another question, and hopefully it'd help others. I've moved on to setting up the Beanstalk notifications, and the UI there is a bit confusing.

![screen shot 2017-05-22 at 2 25 53 pm](https://cloud.githubusercontent.com/assets/297042/26329137/a02b0b34-3efa-11e7-977f-a771e0ecb2b2.png)
It desires an email address, even though I don't need it to go to an email. Do you just put

[2017-05-22 22:19] creichert commented on #15
That configuration dialog is definitely confusing. I generally configure w/o email and only rely on the SNS topics. What service did you take that picture from?

I agree with you on the doc improvements. Feel free to create a PR, if you want. We're committing more improvements, though, so I'll definitely add the suggestions when I have a chance.

[2017-05-22 22:55] pamelafox commented on #15
That screenshot was from Elastic Beanstalk -> Monitoring -> Alarm icon on upper right of the graph.
Where did you set your Beanstalk Alarms up, in CloudWatch?

Ok, I can send a PR after figuring this part out.

[2017-06-13 10:04] rohitrsh opened #18 "TypeError: Cannot read property '0' of undefined"
Hi,

First off thanks for putting it all together.

I wanted to use this stack only for CloudWatch alerts and AutoScale Notification. I am after deploying it on my AWS account, I am successfully able to receive message from CloudWatch. But not getting events of AutoScale.

Just to troubleshoot i have tried to run make test. To do so i have removed all json files from test folder except  `context.j

[2017-06-14 05:02] creichert commented on #18
@rohitrsh I just saw this and it's a little late here. I'll be able to get look into this more tomorrow.

If possible, try to use `console.log` to print the `event` before the `var eventSubscriptionArn` statement and post the sanitized output here.

[2017-06-16 05:32] CodyReichert commented on #18
@rohitrsh - Where did you get this event?

[code]

In the output you posted, that event is being logged [right here](https://github.com/assertible/lambda-cloudwatch-slack/blob/master/index.js#L266), and two lines down is where the error is being thrown, [here](https://github.com/assertible/lambda-cloudwatch-slack/blob/master/index.js#L268). A proper AutoScaling event should have a `resources` arra

[2017-08-04 10:18] henryzhang1984 opened #19 ""errorMessage": "No matching processor for event."
lambda-cloudwatch-slack-0.1.2

1.when code deploy to aws ,cloudwatch log show:

No matching processor for event. [EventSubscriptionArn: arn:aws:sns:ap-southeast-1:426052853157:staging-asg:51e5c7bb-9436-43c6-8cd6-33fa7aa748d5]

2. failed to   make test in local
processing cloudwatch notification
events.js:182
      throw er; // Unhandled 'error' event
      ^

Error: connect ECONNREFUSED 127.0.0.1:

[2017-08-07 01:41] henryzhang1984 commented on #19
![image](https://user-images.githubusercontent.com/2032608/29009287-954eea78-7b54-11e7-91ec-8bf3e70b8237.png)

[2017-08-07 14:31] rozhok commented on #19
Same here. What should we tune?

[2017-08-07 19:25] creichert commented on #19
@henryzhang1984 Your event seems to be going through SNS, but what service is sending the event? I think there are currently some limitations that the processor has to be pre-defined: https://github.com/assertible/lambda-cloudwatch-slack/blob/master/config.js#L11

I'm happy to check this out if you can post your (scrubbed) event.

[2017-08-07 19:26] creichert commented on #19
@rozhok What does your event look like?

IMO, we probably need a better way to have a default "catchall" type event.

[2017-08-07 19:31] rozhok commented on #19
Here we go:
[code]

[2017-08-07 20:56] creichert commented on #19
We are working on this in #20

[2017-08-08 00:48] henryzhang1984 commented on #7
@CodyReichert
![image](https://user-images.githubusercontent.com/2032608/29051575-4f91dbc2-7c16-11e7-8e9e-d2880b9ef884.png)

[2017-08-08 00:50] henryzhang1984 commented on #19
![image](https://user-images.githubusercontent.com/2032608/29051629-a4bb9624-7c16-11e7-9dab-ce12ec585285.png)

[2017-08-08 01:05] CodyReichert commented on #19
Thanks @henryzhang1984 - I see 2 issues here:

1. The `ECONNREFUSED` error. Do you have a correct `UNENCRYPTED_HOOK_URL` value set in the `deploy.env` file when you deployed to lambda? That's only reason I can see that happening (becuase it did successfully matched a `CloudWatch` event).

2. In your original issue, you _did_ post the `no matching processor found for event`. That one will be fixed

[2017-08-10 23:05] #19 closed

[2017-08-10 23:21] CodyReichert commented on #19
Hey all - we just released [v0.2.1](https://www.npmjs.com/package/lambda-cloudwatch-slack) that contains a 'catch-all' handler for events that don't have a matching processor. Now, SampleEvents and various things like should work.

@henryzhang1984 - I believe `ECONNREFUSED` is an issue with not having a correct Slack Hook URL, so if you're still having issues with that please open another issue an

[2017-08-10 23:23] CodyReichert commented on #7
[v0.2.1](https://www.npmjs.com/package/lambda-cloudwatch-slack), just released, contains a 'catch-all' handler for events that don't have a matching processor. Now, SampleEvents and various things like should work.

This should be fixed, so I'm going to close this, but feel free to re-open if you're still having issues.

@henryzhang1984 - see [this comment](https://github.com/assertible/lambda-clo

[2017-08-10 23:23] #7 closed

[2017-08-10 23:24] CodyReichert commented on #18
Hey @rohitrsh - I'm going to close this because it looks like an issue with the test even you used, but if you're still working on this and having troubles please do re-open and I'll be happy to take a look!

[2017-08-10 23:24] #18 closed

[2017-08-11 01:44] henryzhang1984 commented on #19
![image](https://user-images.githubusercontent.com/2032608/29198789-a647e898-7e79-11e7-87fc-0f1024e9b360.png)

[2017-08-11 01:45] henryzhang1984 opened #21 "Error: connect ECONNREFUSED 127.0.0.1:443"
![image](https://user-images.githubusercontent.com/2032608/29198812-dacf48b8-7e79-11e7-9a1d-6ef1ab73ec78.png)

[2017-08-11 01:52] CodyReichert commented on #21
Hey @henryzhang1984 - thanks for opening :) First thing I see:

Does it work if you add `https://` to the front of the `UNENCRYPTED_HOOK_URL`?

I tried locally without `https://`, and I actually got `ECONNRESET` (slightly different, but very similar error). Let me know, happy to take a deeper look!

[2017-08-11 02:20] henryzhang1984 commented on #21
when I add https ,it works

[2017-08-11 07:42] rozhok commented on #19
@CodyReichert thanks! Will test it soon.

[2017-08-11 16:07] CodyReichert commented on #21
Awesome! So you're good to go with everything?

I'll close this, but feel free to re-open if you have any other issues.

[2017-08-11 16:07] #21 closed

[2017-09-04 10:40] tg-tomer opened #22 "Format of messages in slack"
Hi,
I'm testing your code with the following configuration:

1. Cloudwatch alarm created on Redshift is sent to SNS topic
2. SNS topic is set as trigger for the Lambda

Expected result:
![Alt text](https://raw.githubusercontent.com/assertible/lambda-cloudwatch-slack/master/images/cloudwatch.png)

Actual result:
![Alt text](http://i64.tinypic.com/j0uy4g.png "Optional title")

Can you help please?

[2017-09-04 12:04] #22 closed

[2017-09-11 18:06] CodyReichert commented on #22
Hey @tg-tomer - thanks for opening! We recently added a 'default' message format for alarms that don't match one of the pre-formatted ones. It looks like your second picture is hitting that default case, so it's not formatted like in the first picture.

Did you close this because you got it working? I can take a look if you're still seeing this, just post your JSON even (remove any sensitive info)

[2017-11-05 11:40] myoung34 commented on #15
@pamelafox that UI (beanstalk) requires an email, which sucks.
You'll have to do this via settings{} blocks in your .config or via  terraform/cloudformation.
You simply cant via the UI. I've opened a ticket with aws support 2 years ago and it hasnt moved. If you submit one as well as a feature request maybe theyll move it along.

[2017-11-13 11:25] geodeveloper opened #23 "Cannot read property '0' of undefined (Executed Test Event CloudWatch)"
Hi,

I've everything set-up correctly and before using the lambda function, I wanted to test it by creating a new test (from AWS Console) and selected the CloudWatch template, once executed it gives this error:

[code]

Any clue?

[2017-11-13 19:22] creichert commented on #23
If you're using the Lambda test function, and not providing a valid payload, that would be the problem. You can take an event's JSON out of the test suite and paste it directly into the Lambda test payload editor.

[2017-11-13 19:39] geodeveloper commented on #23
Hi @creichert ,

Thank for the reply. With real logs it's working fine (tested), but as I previously said, if I test with the CloudWatch template (provided by AWS) it failed to work (I guess the payload it's different but since the template it's a basic CloudWatch I thought it would work and expected to receive a Generic Notification.

I tried to check the logs but it doesn't exist. On Log output

[2017-11-24 13:38] #23 closed

[2017-11-28 19:48] woodland-appcolony opened #24 "SyntaxError: Unexpected token T"
Looks like a great lambda implementation, would love to use it, but it seems to be doing something odd.

First, Lambda's default SNS test event causes this failure:

[code]

Second, I sent Elastic Beanstalk events through SNS to this Lambda code, and strangely enough it was being handled by the catch-all, not the Elastic Beanstalk handler.

And, those Beanstalk events would fail with the exact sam

[2018-01-03 17:22] timcollie opened #25 "Confusion over security tokens during make deploy"
Am I right in my view that the keys needed for a make deploy to complete need to be a user with full access to lambda? I can't seem to get past the following error during the make deploy -

  TracingConfig: { Mode: null } }
The security token included in the request is invalid.
=> Retrying
{ [UnrecognizedClientException: The security token included in the request is invalid.]
  message: 'The secur

[2018-01-03 17:32] creichert commented on #25
Yes, the tokens need to have full access to lambda.

One thing that comes to mind is to check that your credentials also support the AWS_REGION you are deploying to. How did you create and configure your aws cli?

https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html

[2018-02-21 21:07] JonFranchi commented on #22
I have this exact same problem.

[2018-02-21 21:23] JonFranchi commented on #22
I think I see what's going on.  It looks like possibly custom metrics don't get `CloudWatchNotifications` in the ARN, or that it no longer puts it in the ARN at all.  I only have this custom metric example at the moment, but `eventSubscriptionArn` does not include that string and neither does `TopicArn`.

I wonder if there is something I can modify to get it to say cloudwatch somewhere, because ot

[2018-02-21 21:36] JonFranchi commented on #22
As far as I can tell, this would only work if you created an SNS topic called `CloudWatchNotifications` and directed every alarm to notify there.  Is it the case that this used to happen by default and thats how it got written that way?  I think it would be helpful to include this in the documentation if that's the intended way to utilize this.

[2018-10-05 21:08] pasevin opened #29 "Ported to Fleep"
Thanks for this! I went ahead and made a port to [Fleep](https://fleep.io/).
You could add this in your ReadMe if you want.
Repo: https://github.com/pasevin/lambda-cloudwatch-fleep

[2018-10-05 22:42] creichert commented on #29
Awesome! If you want to mention this in our repo, feel free to make a
pull-request and I'll be happy to merge it. Cheers.

[2018-11-14 12:18] jtwp opened #31 "S3 Event Notificatons"
Any possibility of adding in a function to handle S3 Events, e.g. puts or deletes.

[2018-11-14 18:49] creichert commented on #31
Definitely. Just to clarify, are you currently not receiving any S3 notifications at all?

Mine look like this:

![image](https://user-images.githubusercontent.com/526560/48504852-5994ac00-e80b-11e8-93ad-2da383320abe.png)

This is an alert configured through CloudWatch as far as I know. I think S3 publishes some specific messages through SNS without CloudWatch?

Let me know what you're currently r

[2018-11-16 12:30] jtwp commented on #31
Hi, so I'm adding an event for a PUT on the bucket so that whenever a certain file or file type is uploaded it sends the notification. I initially tried sending the event straight to the Lambda function, but this didn't send anything, so had it send to SNS and then subscribed the Lambda function to the topic. This worked, but think the formatting needs to be applied. Have added a screenshot of how

[2018-11-16 18:20] creichert commented on #31
Fantastic, thank you for all the information. I don't think it's too
difficult to add support.

If you're up for making a PR, it should mostly involve following what's
already sketched out:

- Add event to Slack payload code here: https://github.com/assertible/lambda-cloudwatch-slack/blob/master/index.js#L196
- Add handler here: https://github.com/assertible/lambda-cloudwatch-slack/blob/master/ind

[2018-11-20 18:32] creichert commented on #31
No worries, thanks for taking a crack at it. If you want to push a PR
with your current progress I can help out.

[2019-01-25 21:34] gokeji opened #32 "AWS Deploy hangs and then times out"
When I do `npm run deploy`, this is what I get in the terminal. The lambda upload function doesn't complete, and later fails with a timeout. Does anyone have any clues as to why this is happening? Thanks!

`=> Moving files to temporary directory
=> Running npm install --production
=> Zipping deployment package
=> Zipping repo. This might take up to 30 seconds
=> Reading zip file to memory
=> Readi

[2019-01-29 07:26] darshand opened #33 "Required IAM user permissions"
Since I am working with AWS IAM console for first time, I would like to know which are all the only required permissions for a new IAM user.

[code]

I'm facing bellow issue
[code]

[2019-01-29 08:15] darshand opened #34 "TypeError: Cannot redefine property: pseudoRandomBytes"
System info
[code]

[code]

[2019-01-29 12:00] darshand commented on #33
A User with `AdministratorAccess`.
A Role with `AWSLambdaBasicExecutionRole`

[2019-01-29 12:00] #33 closed

[2019-02-07 02:54] ramesh2012 opened #35 "how to clean all data after test"
how to clean all data after test
any command line of npm to destroy all data in AWS environment

[2019-03-02 21:30] jerasioren opened #36 "GuardDuty format"
Hi,

Do you think it be possible to add support for GuardDuty message format,
Using as is the sample output from GuardDuty looks like this:

`Message
Description
version: 0
id: 94fc31e1-8e7f-0234-12d6-4baa425fe901
detail-type: GuardDuty Finding
source: aws.guardduty
account: ***
time: 2019-03-02T21:25:06Z
region: eu-west-1
resources: []
detail: {"schemaVersion":"2.0","accountId":"***","region":"eu

[2019-03-05 05:56] darshand opened #37 "Send notification to multiple channels"
In `.env` file I can specify one `webhook_url`. Can I specify multiple `webhook_url`s. So that I can post one notification to  group and get one personally?

[2019-03-05 09:20] darshand commented on #10
Instead of using a static subject name. I am using `message.AlarmName` itself as subject name.
![aws-to-slack](https://user-images.githubusercontent.com/7394798/53794450-01b6b800-3f56-11e9-8705-85009a3b1079.png)

[2019-03-07 08:08] gabauer opened #38 "Bug: record.Sns.Message is not necessarily an object"
### How to produces:
#### Goto AWS SNS -> Topic -> public a message
The message looks like:
[code]

Records[0].Sns.Message is no object in this case and JSON.parse fails here:
[code]

### How to fix (one way):

Check if Records[0].Sns.Message is a object:
[code]

[2019-04-16 08:30] sallesma commented on #32
I am facing the same issue. Does anyone have tips about it?

[2019-04-23 18:48] CodyReichert commented on #32
Hmm..that's interesting. I haven't hit this, but for anyone seeing the same issue, you might try to play with the timeout setting. Since it's not hitting an error, just a timeout, it could just be that it needs a little longer.

You can't change this directly in the env, but this package uses [`node-lambda`](https://github.com/motdotla/node-lambda) so I _believe_ you can set the `AWS_TIMEOUT` vari

[2019-04-26 08:33] sallesma commented on #32
I was eager to try your solution this morning, but the deploy worked directly with no timeout...

So problem fixed for me, but without knowing what would have been the fix

Thanks for helping anyways

[2019-05-22 11:52] ksac1 commented on #18
I am getting a request through : const request = event.Records[0].cf.request;

And this is giving me error: Cannot read property '0' of undefined at exports.handler.

[2019-06-14 15:03] terse-siddharth opened #41 "Notification not trigger on close message"
Hi,

   I have integrated slack notification via SNS with your code & notification triggered successfully from OK to Alarm state, But it is not triggering if the state coming from Alarm to OK.

Is the functionality is not there OR i am missing something ?

Can you please help me with this ?

[2019-06-14 19:31] CodyReichert commented on #41
Hmm.. it should be working as far as I'm aware. Can you post a little more about your configuration? That might help, but yes the functionality is there.

[2019-06-18 15:18] terse-siddharth commented on #41
Thanks for the reply.

I have a very simple scenario, i have set cloudwatch alert on RDS DB connection, when ever the status changes happen from OK to ALERM, i am getting slack notification successfully, but when it is changing from ALARM to OK , i am not getting slack notification.

[2019-07-22 15:44] ernievd opened #43 "npm run deploy fails"
Running on Ubuntu Windows. All looks to be installed correctly.
 Here is my npm debug.log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'deploy' ]
2 info using npm@3.5.2
3 info using node@v8.10.0
4 verbose run-script [ 'predeploy', 'deploy', 'postdeploy' ]
5 info lifecycle lambda-cloudwatch-slack@0.3.0~predeploy: lambda-cloudwatch-slack@0.3.0
6 silly

[2019-08-15 13:59] rossrollin opened #45 "handle awslogs forwarded to CloudWatch"
Hi,

I have deployed this function to a customer AWS account and it works great! However as with the Go version of this code i am facing an issue. These functions can only handle JSON Formatted strings, and one of our customers forwards syslog to cloudwatch via awslogs i believe, and that doesnt get forwarded to slack because its not formatted correctly. Is this a feature you will work on in the f

[2019-09-19 21:23] ramilexe commented on #43
Because you are on Windows. Deploy script works only on Linux and Mac

[2019-09-23 08:52] TeoWneD commented on #43
Maybe it'll help, i had the same errors but above i had a permission issue from aws, and since its fixed i can deploy with no problem

[2019-10-23 04:25] doles2 opened #49 "Module initialisation Error"
Hi, looks like a great function, thank you!

While deployment works, and `npm test` works, the actual function doesn't. Whenever the lambda function triggers, it posts this error.

[code]
I've tried with permissions to set every file to 777, tried zipping and manual upload.

Any ideas?

[2019-10-23 11:18] frankiesimon opened #50 "AWS Warnings about Node Version"
AWS recently sent this email to all users with lambdas using Node.js 8.10:

We are contacting you as we have identified that your AWS Account currently has one or more Lambda functions using Node.js 8.10, which will reach its EOL at the end of 2019.

What’s happening?

The Node community has decided to end support for Node.js 8.x on December 31, 2019 [1]. From this date forward, Node.js 8.x will s

[2019-11-07 13:12] mherger commented on #50
I run `npm install node-lambda@latest` before deploying. This would update the `node-lambda` module which now uses Node 10 by default. I'm sure there's a better/more flexible way to do it. But that was quick and painless.

[2019-11-20 07:02] dharshann commented on #50
@mherger Thanks. Worked for me.

[2020-02-22 06:13] 0xM opened #52 "The runtime parameter of nodejs8.10 is no longer supported for creating or updating AWS Lambda functions."
It does not work anymore.

`InvalidParameterValueException: The runtime parameter of nodejs8.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs12.x) while creating or updating functions.
    at Object.extractError (/tmp/lambda-cloudwatch-slack/node_modules/aws-sdk/lib/protocol/json.js:48:27)
    at Request.extractError (/tmp/lambda

[2020-02-26 08:18] exilemirror commented on #52
run npm install node-lambda@latest before deploying.
Just tested mine today and it works!

[2020-03-04 13:03] lucasbittencourt02 opened #53 "npm run deploy error"
Hi,

I´m trying running the deploy script, houwever i receiving the follow message.

`> lambda-cloudwatch-slack@0.3.0 deploy /home/ubuntu/lambda-cloudwatch-slack

=> Moving files to temporary directory
Error: Cannot copy '.' to a subdirectory of itself, '/home/ubuntu/lambda-cloudwatch-slack/lambda-cloudwatch-slack-lambda'.
    at checkStats (/home/ubuntu/lambda-cloudwatch-slack/node_modules/fs-ext

[2020-03-13 12:34] ferdinandfrank commented on #52
@exilemirror I can confirm that this worked! Thank you! :)

[2020-04-01 10:17] tretos53 opened #54 "User permissions"
What are the exact permissions needed for `npm run deploy` to work? A User with AdministratorAccess has too much access.

When I run `npm run deploy` with below permission I get:

[code]

[code]

[2020-04-01 10:58] tretos53 opened #55 "Invoke Error"
Hi,

When I run the npm run deploy I got below error:

[code]

So I run `npm install node-lambda@latest` and deploy was successful.

Now when I send a test message to subscription I get below error in Lambda:

[code]

[code]

[2020-04-01 11:02] tretos53 commented on #54
I think I figured this out.

1. Create a policy with below JSON

[code]

2. Create a role and attach above policy and AWSLambdaBasicExecutionRole policy.

3. Create a new user and attach above policy to it.

[2020-04-01 11:45] #54 closed

[2020-04-06 10:41] rahulkumartandf opened #56 "how to send notification on a particular slack channel linked to a webhookurl url"
Hi,
I have multiple channels for a single slack Webhook.
how to i send the notification on a particular channel. i didn't see any variable of that in .env file.

[2020-04-06 10:43] rahulkumartandf commented on #56
Hi I have multiple channels for a single slack Webhook.
how to i send the notification on a particular channel. i didn't see any variable of that in .env file.

[2020-04-07 02:01] CodyReichert commented on #56
Hey @rahulkumartandf - we don't support setting a specific channel right now, however, someone opened #48 which adds that support and we will try to get that reviewed and merged asap.

For now you would have to create a new webhook URL for the specific channel.

[2020-04-07 02:01] #56 closed

[2020-04-07 03:00] CodyReichert commented on #53
hey @lucasbittencourt02 i was able to track down this commit in our `node-lambda` dependency: https://github.com/motdotla/node-lambda/commit/cb9b93005fb1ec28cb0a3209ec7bdf780cc3577c

It's likely related. If you update version for that package in the package.json it should work:
[code]

Can you try that and let me know if it works for you? (no big deal if not). I'll push a PR, but it would be good

[2020-04-07 03:01] CodyReichert commented on #43
hey @ernievd thanks for reporting!

If you're still working on this and neither of those suggestions work for you please re-open this. Thank you :+1:

[2020-04-07 03:01] #43 closed

[2020-04-15 20:42] dharmeshp31 commented on #53
I had the same issue and it still says the same error after updating the package.json per your instructions

[2020-04-23 11:29] mvillumsen commented on #55
I just ran into the same error while testing the function. The stack trace tells you, that the error occurs in `index.js:319` (see https://github.com/assertible/lambda-cloudwatch-slack/blob/master/index.js#L319)

The code tried to parse the message as json but what you are sending is text. Try sending a test message in valid json instead.

[2020-04-23 16:35] #55 closed

[2020-04-30 10:03] JeroenRijks commented on #24
Hey @woodland-appcolony , I know this was two and a half years ago, but I'm running into the same issue, only with EC2 events through SNS, instead of Elastic Beanstalk. Did you figure out what the issue is?

[2020-04-30 14:39] rviniandrade commented on #53
Hey @CodyReichert, this works for me.
Thanks!

[2020-05-05 11:02] andy-educake opened #59 "CodeDeploy alerts are missing information in Slack"
We have set up alerts on various CodeDeploy events to come via the lambda (great tool btw, thanks!) to a Slack channel. Unfortunately the Slack messages are missing most of the relevant detail.
<img width="664" alt="Screenshot 2020-05-05 at 11 56 15" src="https://user-images.githubusercontent.com/57622391/81059015-8806bb00-8ec7-11ea-98cb-6cd68ce0eb48.png">
Looking at the test data in the repo and

[2020-05-13 10:10] sasko-z commented on #53
Hi, I have the same issue and the update of the package.json and package-lock.json didn't help. Any other suggestion how to solve this?

[2020-05-13 10:42] sasko-z commented on #53
I have resolve it, I can confirm that changing version in package.json is working. Mine issue was in the .aws/credentials file, I don't use default profile for secret keys.

[2020-05-28 02:14] #53 closed

[2020-06-24 22:35] SolomonHD opened #60 "What permissions does the User need?"
Hello, I operate in a controlled AWS account where I can create Roles and attach Policies but I cannot create or affect Users. I have to request someone do that for me. I would like to setup this function inside that AWS account.

What perms does the User need? I assume LambdaFullAccess at the very least but does it need any others?

[2020-12-17 10:51] anil-venkata opened #64 "ASG name is not appearing in the slack notification"
Hi Team,

We are having some strange issue with the ASG notification, sometime the autoscaling Name is appearing in the specified filed and some time it is not appearing.

![image](https://user-images.githubusercontent.com/62022685/102477893-f7aa6e80-4082-11eb-9e38-b1eb7fbeb9f7.png)

Some times it does appear like this.

![image](https://user-images.githubusercontent.com/62022685/102478200-553ebb0

[2020-12-17 11:12] anil-venkata commented on #64
Oops, i am sorry raising the ticket before checking

after checking the code, i figured it out some issue with the SNSit self.

After seeing this code.

https://github.com/assertible/lambda-cloudwatch-slack/blob/bf39232dd75f86fa77b1c8b52ac9ff76f31aa3ff/index.js#L283

i see the how the slack alerts are configured and after checking the subject of the mail, i realised the issue with the subject it s

[2021-03-02 15:42] tbenyon opened #66 "url.parse is deprecated - Requests going to localhost"
I found that url.parse being deprecated meant that the requests were going to localhost.

I had to modify that start of the postMessage() function to this:
[code]

[2021-06-11 16:51] BrandyPatat opened #68 "Failed at the lambda-cloudwatch-slack@0.4.0 deploy script './scripts/deploy.sh'."
Failed at run npm run deploy.
[npm-debug.log](https://github.com/assertible/lambda-cloudwatch-slack/files/6639967/npm-debug.log)

[2021-06-11 17:02] BrandyPatat commented on #68
Needed to run the below commands before npm run deploy:
curl -sL https://deb.nodesource.com/setup_14.x | sudo -E bash -
sudo apt-get install -y nodejs

[2021-06-11 17:02] #68 closed

[2021-08-30 17:52] kohenkatz commented on #60
Duplicate of #54

[2021-09-01 14:09] KingBain commented on #54
This is what worked for me

[code]

[2021-09-24 08:36] oliverprt opened #70 "Lambda deployment fails"
Due recent changes on Lambda state changes Lambda deployment fails because of the ResourceConflictException.
More information about the changes on AWS side:
https://aws.amazon.com/blogs/compute/tracking-the-state-of-lambda-functions/

Is this going to be fixed?

[2021-10-31 13:26] #70 closed, assigned to nobody

[2021-10-31 13:26] oliverprt commented on #70
Not related.

[2022-07-26 13:28] ghost opened #73 "Is it Possible to add the AWS Account Name in the Output Description?"
Hi, I have multiple AWS accounts and am setting this up to send CloudWatch messages to one specific Slack channel. I would like to be able to determine quickly which account triggered the alert rather than being redirected to it's url. Did anybody else also implement this?